{% load static %}
<DOCTYPE html>
    <html>
    <head>
        <title>성은공간!</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
     </head>

    <body>
        <header>
            


        </header>
        <section>
           <nav></nav>
           <article></article>
           <aside></aside>

        </section>
        <footer>
            <h6>이메일:peko314@gmail.com</h6>
            <h6>감사합니다</h6>


        </footer>



    </body>














</html>
