{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <title>성은의 두번째 페이지</title>
            <meta charset="uft-8">
        </head>
        <body>
            <header> <!--header태그입니다-->
                <h1>새로 만들어써요

                </h1>


            </header>
            <section>
                <p>이것은 <span style="color:cornflowerblue">본문내용입니다아아아아</span>아아아아아아아아앙</p><br>
                <em>이것은 이탤릭체입니다.</em>
                <strong>이것은 볼드체입니다.</strong>

                <ol> <!--순서있는 리스트입니다 -->
                    <li>할일1</li>
                    <li>할일2</li>
                    <li>할일3</li>

                </ol>

                <ul>
                    <li>할일</li>

                </ul>
                <a href="{% url 'home' %}"><img style="width:500px;" src="{% static '물개.jpeg' %}"></a>


                <img style="width:500px;" src="https://lh3.googleusercontent.com/proxy/GY_fO_v_X-jX_cuYeax4AtboB0VR9e93GZS70j2APF4HALXMN2ToYOMCew0khpt7RzEeijW5SSvv9y1yTOQ5XYR1V50gKvu1iq7tVgfVgZuTGxtdDnQeOo0L1xSXH60sJuGA4Ix_UAra4oP0Hy94yrNAMpheakMVMCgUA7QUkQ"> <!--닫을 필요가 없는 태그다-->
                <img style="width:500px;" src="{% static '물개.jpeg' %}">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6xq9dXs_TLM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <footer>


            </footer>
        </body>
        <div class="main">
            <p>메인부분 입니다. 이거 뭐였더라?</p>
            

        </div>
        <div class="footer">
            <h5>진짜로 이 웹으로 이동했다면</h5>
            <h6>그렇게된다면 정말 좋겠다</h6>


        </div>






    </html>