{% load static %}
<DOCTYPE html>
    <html>
    <head>
        <title>성은공간</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
     </head>

    <body>
        <div class="header">
            <h1>성은의 포트폴리오 사이트입니다
                <a href=“https://www.naver.com/?mobile”>네이버로 이동</a>
            </h1>
            <h2>저의 소울메이트의 유튜브를 구경해보실래요?</h2>


        </div>
        <div class="main">
            <p>메인부분입니다.</p>


        </div>
        <div class="footer">
            <h6>이메일:peko314@gmail.com</h6>
            <h6>감사합니다</h6>


        </div>



    </body>














</html>
