
<!DOCTYPE html>
    <html>
    <head>
        <title>youtube</title>
        <meta charset="utf-8">

    </head>
    <body>
        <header>


        </header>
        <secction>
         <nav>
            <ul>
                <li>Home</li>
                <li>Trending</li>
                <li>Subscriptions</li>
             </ul>
             <ul>
                 <li>Library</li>
                 <li>History</li>
                 <li>Watch later</li>
                 <li>Liked videos</li>
             </ul>
             <ul>
                 <h5>SUBSCRIPTIONS</h5>
                 <li>마정이 majunge</li>
                 <li>셀로드</li>
            </ul>
            <ul>
                <h5>MORE FROM YOUTUBE</h5>
                <li>YouTube Premium</li>
                <li>Youtube Movies</li>
             </ul>
         </nav>
         <article>
             <div></div>
             <div></div>
             <div></div>


    

         </article>
        </secction>
        















    </body>























    </html>

    <style>
        header{



        }
        nav{
          float: left;
          width: 30%;
          height: 300px;
          background:white;
          padding: 20px;  
        }
        nav ul{
           list-style-type: none;
           padding: 0; 
        }
        article{
            float:left;
            padding:20px;
            width: 70%;
            background-color:white;
            height:300px;
        }










    </style>
