
<!DOCTYPE html>
    <html>
    <head>
        <title>youtube</title>
        <meta charset="utf-8">

    </head>
    <body>
        <header>


        </header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Trending</li>
                <li>Subscriptions</li>
             </ul>
             <ul>
                 <li>Library</li>
                 <li>History</li>
                 <li>Watch later</li>
                 <li>Liked videos</li>
             </ul>
             <ul>
                 <h5>SUBSCRIPTIONS</h5>
                 <li>마정이 majunge</li>
                 <li>셀로드</li>
            </ul>
            <ul>
                <h5>MORE FROM YOUTUBE</h5>
                <li>YouTube Premium</li>
                <li>Youtube Movies</li>
             </ul>
         </nav>
        <section>

        </section>















    </body>























    </html>
